{{#each categories as |category|}}
	<div class="col-sm-4">
		<p>{{category.name}}</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Ver
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subcategorías</h5>
            </div>
            <div id="category{{category.id}}" class="modal-body">
                {{#each category.subcategories as |subcategory|}}
					<li><a href="#">{{subcategory.name}} </a></li>
				{{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
        </div>
	</div>
{{/each}}