<footer id="footer"><!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<h2><span>DOMUS</span>SRL</h2>
						<p>{{contact.lastObject.address}}</p>
						<p>{{contact.lastObject.phone}}</p>
						<p>{{contact.lastObject.email}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">

				<p class="pull-right">Diseñado por <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
			</div>
		</div>
	</div>

</footer><!--/Footer-->