{{#each products as |product|}}
    {{#if (eq product.offer true)}}
		<div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                     <div class="productinfo text-center">
                        <img src="{{product.picture}}" alt="" />
                        <h2>{{product.code}}</h2>
                        <p>{{product.description}}</p>
                        <a href="#" class="btn btn-default add-to-cart"><span class="glyphicon glyphicon-eye-open"></span> Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{/each}}
