{{outlet}}

<section>
	<div class="container">
		<div class="row">
			<!-- Left sideBar -->
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<!-- Left sideBar -->
			{{category-products categories=model.categories manufacturers=model.manufacturers
			extras=model.extras category=model.category
			products=model.products product_variants=model.product_variants
			host=model.host}}
		</div>
	</div>
</section>
