<h2>Dashboard</h2>

<p>Peter Parker is Spider-Man </p>

{{#if session.isAuthenticated}}
	<p>hi</p>
		{{#if currentUser.user}}
			<p>Signed in as {{currentUser.user.email}}</p>
		{{/if}}
{{else}}
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
{{/if}}
<a href="#" {{action 'logout'}}>Logout</a>