{{outlet}}
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 padding-right">
                <h2 class="title text-center"> Historial de compras realizadas </h2>
                {{history-list orders=model.orders}}
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
	</div>
</section>