{{outlet}}

<section>
	<div class="container">
		<div class="row">
			<!-- Left sideBar -->
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<!-- Left sideBar -->
			
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Productos</h2>
					{{product-list products=model.products variants=model.variants}}
				</div><!--features_items-->
				
				<!--<div class="recommended_items">
					<h2 class="title text-center">Productos recomendados</h2>
				</div><!--recommended_items-->
			</div>
		</div>
	</div>
</section>