{{outlet}}

<section>
	<div class="container">
		<div class="row">
			<!-- Left sideBar -->
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<!-- Left sideBar -->
			
			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<h2 class="title text-center">Nuestras Categorías</h2>
					{{categories-list categories=model.categories}} 
				</div>
			</div>
			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<h2 class="title text-center">Productos en Oferta</h2>
					{{products-offer products=model.products host=model.host}}
				</div>
			</div>
		</div>
	</div>
</section>