{{outlet}}
<section>
    <div class="container">
        <div class="row">
			<div class="col-sm-12 padding-right">
				<h2 class="title text-center">Datos Personales de Envío</h2>
                {{form-order destinations=model.destinations offices=model.offices}}
                <br/>
                <br/>
            </div>
        </div>
	</div>
</section>
