<section>
	<div class="container">
		<div class="row">
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">{{model.product.code}}</h2>
                    
				</div>
			</div>

		</div>
	</div>
</section>