<section>
	<div class="container">
        <form {{action "reset" on="submit"}} class="form-horizontal" >
            <div class="form-group">
                <label>Correo electrónico:</label>
                {{input type="text" class="form-control" value=mail}}
            </div>
            <center>
                <br/>
                <br/>
                <button type="submit" class="btn btn-info">Aceptar</button>
            </center>
        </form>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>