{{outlet}}
<h1> resultados </h1>
{{input value=query on-key-press=(action (mut query))}}
 
<ul>
{{#each (search query model.products properties=searchProperties) as |fruit|}}
  <li>{{fruit.name}}</li>
{{/each}}
</ul>